node_modules/
dist/
release/
resources/dsh-runtime/
resources/dsh-runtime.tar.gz
resources/runtime.version
resources/icons/
resources/plugins/
packages/*/lib/client.js
packages/*/lib/client.js.map
*.log
.DS_Store
